<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layout/head.ejs') -%>
  </head>
  <body>
    <%- include('../../layout/header.ejs') -%>

    <main>
      <div class="hero">
        <h1><%= title %></h1>

        <a class="button" href="/inventory/projection">Select SerialNum, ContainerID, TypeName and Weight from Inventory</a>
      </div>
    </main>

    <%- include('../../layout/foot.ejs') -%>
  </body>
</html>
