<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layout/head.ejs') -%>
  </head>
  <body>
    <%- include('../../layout/header.ejs') -%>

    <main>
      <div class="hero">
        <h1>Select Inventory </h1>

        <a class="button" href="/inventory/projection">Select SerialNum, ContainerID, TypeName and Weight from Inventory</a>
      </div>


      <div class="hero">
        <form name="join-storage-container-query" method="POST" action="/inventory/join">
          <h1>Join Inventory</h1>
          <div>
            <label for="storage-container-id">
              <span>Storage Container ID</span>
              <abbr title="required" aria-label="required">*</abbr>
            </label>
            <input type="text" id="storage-container-id" name="storageContainerId" placeholder="Storage Container ID..." required maxlength="3" pattern="^[0-9]*$">
          </div>
          <button type="submit" class="button">Submit Join Query</button>
          <p>
            Select all inventory items held within this specific container
          </p>
        </form>
      </div>
    </main>



    <%- include('../../layout/foot.ejs') -%>
  </body>
</html>
