<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layout/head.ejs') -%>
  </head>
  <body>
    <%- include('../../layout/header.ejs') -%>

    <main>
      <div class="hero">
        <h1>Listing Personnel</h1>

        <a class="button" href="/personnel/new">New Personnel</a>

        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Birthdate</th>
              <th>LW</th>
              <th>IM</th>
              <th>PM</th>
              <th></th> <!-- Link column -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Stephen</td>
              <td>Curry</td>
              <td>1988-03-14</td>
              <td><input type="checkbox" disabled checked></td>
              <td><input type="checkbox" disabled></td>
              <td><input type="checkbox" disabled checked></td>
              <td>
                <span><a href="/personnel/:id/">Show</a></span>
                <span><a href="/personnel/:id/edit">Edit</a></span>
                <span><a data-confirm="Are you sure you want to delete this personnel?" data-method="delete" data-to="/personnel/:id" href="/personnel/:id" rel="nofollow">Delete</a></span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </main>

    <%- include('../../layout/foot.ejs') -%>
  </body>
</html>
