<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layout/head.ejs') -%>
  </head>
  <body>
    <%- include('../../layout/header.ejs') -%>

    <main>
      <div class="hero">
        <h1><%= title %></h1>

        <p>Fill in the fields to create a new personnel.</p>

        <a class="button button-outline" href="/personnel">Return to Listing</a>

        <form name="create_personnel_form" method="POST" action="/personnel">
          <div>
            <label for="first">
              <span>First name</span>
              <abbr title="required" aria-label="required">*</abbr>
            </label>
            <input type="text" id="first" name="firstName" placeholder="First..." required maxlength="100" pattern="\w[\w ]*">
          </div>
          <div>
            <label for="last">
              <span>Last name</span>
              <abbr title="required" aria-label="required">*</abbr>
            </label>
            <input type="text" id="last" name="lastName" placeholder="Last..." required maxlength="100" pattern="\w[\w ]+">
          </div>
          <div>
            <label for="bdate">
              <span>Birt Date</span>
              <abbr title="required" aria-label="required">*</abbr>
            </label>
            <input type="date" id="bdate" name="birthDate" placeholder="mm-dd-yyyy" required>
          </div>
          <fieldset>
            <legend>Permissions</legend>
              <label for="role_1">
                <input type="checkbox" name="lineWorker" id="role_1" value="lineWorker" onclick="lineWorkerToggled()">
                <span>Line worker operations</span>
              </label>
              <label for="role_2">
                <input type="checkbox" name="inventoryManager" id="role_2" value="inventoryManager">
                <span>Inventory management</span>
              </label>
              <label for="role_3">
                <input type="checkbox" name="personnelManager" id="role_3" value="personnelManager">
                <span>Personnel management</span>
              </label>
          </fieldset>
          <div class="line-worker-responsibilities-container" style="display: none">
            <label for="responsibilities">
              <span>Responsibilites</span>
            </label>
            <textarea wrap="soft" id="responsibilities" name="responsibilities" placeholder="Responsible for..."></textarea>
          </div>
          <div class="employees-managed-container" style="display: none">
            <label for="employees-managed">
              <span>Number of employees managed</span>
            </label>
            <input type="text" id="employees-managed" name="employeesManaged" placeholder="Enter a non-negative integer..." pattern="\d+">
          </div>
          <button type="submit" class="button">Create user</button>
          <button type="reset" class="button button-outline">Reset</button>
        </form>
      </div>
    </main>

    <script src="/scripts/new_personnel.js"></script>
    <%- include('../../layout/foot.ejs') -%>
  </body>
</html>
