<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head.ejs') -%>
  </head>
  <body>
    <%- include('../layout/header.ejs') -%>

    <main>
      <div class="hero">
        <h1><%= title %></h1>
        <p>Welcome to the warehouse dashboard.</p>

        <a class="button" href="/personnel">Manage Personnel</a>

        <h2 style="margin-top: 1em;">Utilities</h2>

        <p><a class="button" href="/divider">Division - Personnel Who Work In Every Warehouse</a></p>
      </div>
    </main>

    <%- include('../layout/foot.ejs') -%>
  </body>
</html>
