<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head.ejs') -%>
  </head>
  <body>
    <%- include('../layout/header.ejs') -%>

    <main>
      <div class="hero">
        <h1><%= title %></h1>
        <p>Welcome to the warehouse dashboard.</p>

        <a class="button" href="/personnel">Manage Personnel</a>

        <h2 style="margin-top: 1em;">Utilities</h2>

        <a class="button" href="/inventory/projection">Projection - SerialNum, ContainerID, TypeName and Weight from Inventory</a><br />
        <a class="button" href="/inventory">Join - All InventoryItems based on WarehouseID</a><br />
        <a class="button" href="/warehouse/container-counts">Aggregation with Group By - Warehouse Container Counts</a><br />
        <a class="button" href="/inventory/nested-aggregation-with-group-by">Nested Aggregation with Group By - Inventory Types, Smaller Than Average Volume</a><br />
        <a class="button" href="/divider">Division - Personnel Who Work In Every Warehouse</a><br />
      </div>
    </main>

    <%- include('../layout/foot.ejs') -%>
  </body>
</html>
