<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head.ejs') -%>
  </head>
  <body>
    <%- include('../layout/header.ejs') -%>

    <main>
      <div class="hero">
        <h1><%= title %></h1>

        <p>This was an academic project for <a href="https://courses.students.ubc.ca/cs/courseschedule?pname=subjarea&tname=subj-course&dept=CPSC&course=304">CPSC 304 Introduction to Relational Databases</a> at the University of British Columbia. Its purpose was to practice designing a sizable schema for an application and implementing it with a simple interface.</p>

        <p>The source is available on <a href="https://github.com/nuxeric/cpsc304project/">GitHub</a>.</p>

        <a class="button" href="/">Back home</a>
      </div>
    </main>

    <%- include('../layout/foot.ejs') -%>
  </body>
</html>
