<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head.ejs') -%>
    </head>
    <body>
        <%- include('../../layout/header.ejs') -%>
        <h2>Hello World</h2>
        <%- include('../../layout/foot.ejs') -%>
    </body>
</html>